<form [formGroup]="formGroup">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.NAME' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="ai-knowledge-vector-db_detail_form_name"
          class="w-full pt-3 pb-2"
          formControlName="name"
          [attr.aria-label]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.NAME' | translate"
        />
        <label class="ocx-required-label" for="ai-knowledge-vector-db_detail_form_name">
          {{ 'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.NAME' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.DESCRIPTION' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="ai-knowledge-vector-db_detail_form_description"
          class="w-full pt-3 pb-2"
          formControlName="description"
          [attr.aria-label]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.DESCRIPTION' | translate"
        />
        <label class="ocx-required-label" for="ai-knowledge-vector-db_detail_form_description">
          {{ 'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.DESCRIPTION' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDB' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="ai-knowledge-vector-db_detail_form_vdb"
          class="w-full pt-3 pb-2"
          formControlName="vdb"
          [attr.aria-label]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDB' | translate"
        />
        <label class="ocx-required-label" for="ai-knowledge-vector-db_detail_form_vdb">
          {{ 'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDB' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDBCOLLECTION' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="ai-knowledge-vector-db_detail_form_vdbcollection"
          class="w-full pt-3 pb-2"
          formControlName="vdbCollection"
          [attr.aria-label]="'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDBCOLLECTION' | translate"
        />
        <label class="ocx-required-label" for="ai-knowledge-vector-db_detail_form_vdbcollection">
          {{ 'AI_KNOWLEDGE_VECTOR_DB_CREATE_UPDATE.FORM.VDBCOLLECTION' | translate }}</label
        >
      </span>
    </div>
  </div>
</form>
