<ocx-portal-page
  permission = AI_KNOWLEDGE_VECTOR_DB#VIEW
  [helpArticleId]="'AI_KNOWLEDGE_VECTOR_DB_DETAILS.HELP_ARTICLE_ID' | translate"
  *ngrxLet="viewModel$; let vm"
>
  <ocx-page-header
    [header]="'AI_KNOWLEDGE_VECTOR_DB_DETAILS.HEADER' | translate"
    [subheader]="'AI_KNOWLEDGE_VECTOR_DB_DETAILS.SUB_HEADER' | translate"
    [actions]="(headerActions$ | async) ?? []"
    [disableDefaultActions]="true"
    [manualBreadcrumbs]="true"
  >
  </ocx-page-header>
  <ocx-page-content>
    <div class="surface-section mt-3 mb-1 mx-3">
        <form [formGroup]="formGroup" errorTailor>
          <div class="mt-3 mb-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="aIKnowledgeVectorDb_detail_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="name"
                readonly
              />
              <label class="ocx-required-label" for="aIKnowledgeVectorDb_detail_name">
                {{ 'AI_KNOWLEDGE_VECTOR_DB_DETAILS.FORM.NAME' | translate }}
              </label>
            </span>
          </div>
          <div class="mt-3 mb-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="aIKnowledgeVectorDb_detail_description"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="description"
                readonly
              />
              <label class="ocx-required-label" for="aIKnowledgeVectorDb_detail_description">
                {{ 'AI_KNOWLEDGE_VECTOR_DB_DETAILS.FORM.DESCRIPTION' | translate }}
              </label>
            </span>
          </div>
          <div class="mt-3 mb-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="aIKnowledgeVectorDb_detail_vdb"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="vdb"
                readonly
              />
              <label class="ocx-required-label" for="aIKnowledgeVectorDb_detail_vdb">
                {{ 'AI_KNOWLEDGE_VECTOR_DB_DETAILS.FORM.VDB' | translate }}
              </label>
            </span>
          </div>
          <div class="mt-3 mb-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="aIKnowledgeVectorDb_detail_vdbcollection"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="vdbCollection"
                readonly
              />
              <label class="ocx-required-label" for="aIKnowledgeVectorDb_detail_vdbcollection">
                {{ 'AI_KNOWLEDGE_VECTOR_DB_DETAILS.FORM.VDBCOLLECTION' | translate }}
              </label>
            </span>
          </div>
        </form>
    </div>
  </ocx-page-content>
</ocx-portal-page>
