<form [formGroup]="formGroup">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'AI_KNOWLEDGE_DOCUMENT_CREATE_UPDATE.FORM.NAME' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input pInputText type="text" id="name" class="w-full pt-3 pb-2" formControlName="name" />
        <label class="ocx-required-label" for="name">
          {{ 'AI_KNOWLEDGE_DOCUMENT_CREATE_UPDATE.FORM.NAME' | translate }}</label>
      </span>
    </div>
    <div [title]="'AI_KNOWLEDGE_DOCUMENT_CREATE_UPDATE.FORM.DOCUMENTREFID' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input pInputText type="text" id="documentRefId" class="w-full pt-3 pb-2" formControlName="documentRefId" />
        <label class="ocx-required-label" for="documentRefId">
          {{ 'AI_KNOWLEDGE_DOCUMENT_CREATE_UPDATE.FORM.DOCUMENTREFID' | translate }}</label>
      </span>
    </div>
  </div>
</form>