<ocx-portal-page permission="AI_KNOWLEDGE_DOCUMENT#VIEW"
  [helpArticleId]="'AI_KNOWLEDGE_DOCUMENT_DETAILS.HELP_ARTICLE_ID' | translate" *ngrxLet="viewModel$; let vm">
  <ocx-page-header [header]="'AI_KNOWLEDGE_DOCUMENT_DETAILS.HEADER' | translate"
    [subheader]="'AI_KNOWLEDGE_DOCUMENT_DETAILS.SUB_HEADER' | translate" [objectDetails]="(headerLabels$ | async) ?? []"
    [actions]="(headerActions$ | async) ?? []" [disableDefaultActions]="true" [manualBreadcrumbs]="true">
  </ocx-page-header>
</ocx-portal-page>