<ocx-portal-page [helpArticleId]="'AI_KNOWLEDGE_DOCUMENT_SEARCH.HELP_ARTICLE_ID' | translate"
  *ngrxLet="viewModel$; let vm">
  <ocx-search-header [headline]="'AI_KNOWLEDGE_DOCUMENT_SEARCH.HEADER' | translate"
    [subheader]="'AI_KNOWLEDGE_DOCUMENT_SEARCH.SUB_HEADER' | translate"
    (searched)="search(aIKnowledgeDocumentSearchFormGroup)" (resetted)="resetSearch()" [manualBreadcrumbs]="true"
    [actions]="(headerActions$ | async) ?? []" (viewModeChanged)="viewModeChanged($event)">
    <form [formGroup]="aIKnowledgeDocumentSearchFormGroup">
      <div class="grid mt-0 p-fluid">
        <div class="col-12 md:col-3">
          <span class="p-float-label">
            <input id="name" pInputText formControlName="name" [ngModel]="vm.searchCriteria.name" type="text"
              class="p-inputtext p-component w-18rem" />
            <label for="name"> {{ 'AI_KNOWLEDGE_DOCUMENT_SEARCH.CRITERIA.NAME' | translate }} </label>
          </span>
        </div>
        <div class="col-12 md:col-3">
          <span class="p-float-label">
            <input id="documentRefId" pInputText formControlName="documentRefId"
              [ngModel]="vm.searchCriteria.documentRefId" type="text" class="p-inputtext p-component w-18rem" />
            <label for="documentRefId"> {{ 'AI_KNOWLEDGE_DOCUMENT_SEARCH.CRITERIA.DOCUMENTREFID' | translate }} </label>
          </span>
        </div>
        <div class="col-12 md:col-3">
          <span class="p-float-label">
            <select id="status" class="w-full pt-3 pb-2" formControlName="status">
              <option *ngFor="let status of statusValues" [value]="status">{{ status }}</option>
            </select>
            <label for="status"> {{ 'AI_KNOWLEDGE_DOCUMENT_SEARCH.CRITERIA.STATUS' | translate }} </label>
          </span>
        </div>
      </div>
    </form>
  </ocx-search-header>
  <ocx-content-container layout="horizontal">
    <ocx-content class="w-full">
      <ocx-interactive-data-view (deleteItem)="delete($event)" deletePermission="AI_KNOWLEDGE_DOCUMENT#DELETE"
        (editItem)="edit($event)" editPermission="AI_KNOWLEDGE_DOCUMENT#EDIT" (viewItem)="details($event)"
        [data]="vm.results" [columns]="vm.columns" [listGridPaginator]="false" [emptyResultsMessage]="
          'AI_KNOWLEDGE_DOCUMENT_SEARCH.EMPTY_RESULTS' | translate
        " [supportedViewLayouts]="['table']" (displayedColumnsChange)="onDisplayedColumnsChange($event)"
        viewPermission="AI_KNOWLEDGE_DOCUMENT#VIEW">
      </ocx-interactive-data-view>
    </ocx-content>
    <ocx-content class="w-full lg:w-3" *ngIf="vm.results.length > 0 &&
        vm.chartVisible &&
        (diagramColumn$ | async)
    ">
      <div class="flex flex-column md:flex-row lg:flex-column justify-content-center">
        <ocx-group-by-count-diagram *ngIf="diagramColumn$ | async as diagramColumn" [data]="vm.results"
          [column]="diagramColumn" sumKey="AI_KNOWLEDGE_DOCUMENT_SEARCH.DIAGRAM.SUM"></ocx-group-by-count-diagram>
      </div>
    </ocx-content>
  </ocx-content-container>
</ocx-portal-page>